
$roboto-light: 'RobotoLight', Arial, Helvetica, sans-serif;
$roboto-bold: 'RobotoBold', Arial, Helvetica, sans-serif;
$acroma-ebold: 'AcromExtraBold','RobotoBold',Arial,sans-serif;
$acroma-light: 'AcromLight','RobotoLight',Arial,sans-serif;

//fonts


//colors
$def:#020202;
$prpl:#eb3d93;